{{>head}}
{{> navbar}}
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h1>Tauriel</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quia amet consequatur eum, perferendis
                nam
                unde, placeat cupiditate odio quo voluptate aut! Vero numquam nisi quas aut architecto deleniti facilis.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit ex id sequi nulla. Iste, dolorum quaerat.
                Quod
                ullam reprehenderit quia, quas hic illo incidunt laudantium ipsum vitae sint perspiciatis nesciunt.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/hobbit.png" class="img">
        </div>
    </div>
</div>
{{> footer}}